.panel-green {
  border-color: #5cb85c;

  .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
  }

  a {
    color: #5cb85c;
  }
}

.panel-yellow {
  border-color: #f0ad4e;

  .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
  }

  a {
    color: #f0ad4e;
  }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.panel-red {
  border-color: #d9534f;

  .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
  }

  a {
    color: #d9534f;
  }
}