
.social-login{
    margin-left: 10%;
    margin-right: 10%;
    h3 {
        text-align:  center;
    }
    .social-login-buttons{

        .facebook {
            background: #3C5899;
            color: #fff;
        }
        .twitter {
            background: #41ABE1;
            color: #fff;
        }
        .google-plus {
            background: #D94A3A;
            color: #fff;
        }
        .linked-in {
            background: #0177B5;
            color: #fff;
        }
        .vk {
            background: #54769A;
            color: #fff;
        }
    }
}
.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}